<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <style>
        .form-container {
            width: 50%;
            margin: 0 auto; /* Center the form container */
        }
        .table-container {
            width: 100%;
            margin-top: 1em;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="container">
        <h1>출석관리</h1>
        <div>
            <button id="createWeekButton" class="btn btn-primary">출석 정보 입력</button>
            <div id="createWeekForm" class="form-container mt-3" style="display:none;">
                <!-- 기존 입력 필드들 -->
                <div class="form-group">
                    <label for="cardinal">Cardinal</label>
                    <input type="number" class="form-control" id="cardinal" placeholder="Enter cardinal" required>
                </div>
                <div class="form-group">
                    <label for="weekNumber">Week Number</label>
                    <input type="number" class="form-control" id="weekNumber" placeholder="Enter week number" required>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" required>
                </div>
                <button id="submitWeekButton" class="btn btn-success mt-2">Submit Week</button>
                <hr>
                <!-- 추가된 입력 필드들 -->
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter title" required>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" placeholder="Enter content" required></textarea>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Enter location" required>
                </div>
                <div class="form-group">
                    <label for="requiredItems">Required Items</label>
                    <input type="text" class="form-control" id="requiredItems" placeholder="Enter required items" required>
                </div>
                <div class="form-group">
                    <label for="memberNumber">Member Number</label>
                    <input type="text" class="form-control" id="memberNumber" placeholder="Enter member number" required>
                </div>
                <div class="form-group">
                    <label for="startDateTime">Start Date and Time</label>
                    <input type="datetime-local" class="form-control" id="startDateTime" required>
                </div>
                <div class="form-group">
                    <label for="endDateTime">End Date and Time</label>
                    <input type="datetime-local" class="form-control" id="endDateTime" required>
                </div>
                <button id="submitEventButton" class="btn btn-success mt-2">Submit Event</button>
                <button id="closeWeekFormButton" class="btn btn-secondary mt-2">Close</button>
            </div>
            <div id="apiMessage" class="alert mt-3" style="display: none;"></div>
        </div>
        <hr>
        <div>
            <button id="checkAttendanceCodeButton" class="btn btn-secondary mt-3">출석코드 확인</button>
            <div id="checkAttendanceCodeForm" class="form-container mt-3" style="display:none;">
                <div class="form-group">
                    <label for="checkCardinal">Cardinal</label>
                    <input type="number" class="form-control" id="checkCardinal" placeholder="Enter cardinal" required>
                </div>
                <button id="submitCheckButton" class="btn btn-success mt-2">Submit</button>
                <button id="closeCheckFormButton" class="btn btn-secondary mt-2">Close</button>
            </div>
            <div id="attendanceCodeResult" class="table-container mt-3" style="display: none;">
                <h3>출석 코드</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>주차</th>
                        <th>출석코드</th>
                    </tr>
                    </thead>
                    <tbody id="attendanceCodeTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<script src="/js/auth.js"></script>
<script>
    document.getElementById('createWeekButton').addEventListener('click', function() {
        const form = document.getElementById('createWeekForm');
        form.style.display = (form.style.display === 'block') ? 'none' : 'block';
    });

    document.getElementById('closeWeekFormButton').addEventListener('click', function() {
        document.getElementById('createWeekForm').style.display = 'none';
    });

    document.getElementById('submitWeekButton').addEventListener('click', function() {
        if (!confirm('주차 정보를 제출하시겠습니까?')) {
            return;
        }
        const cardinal = document.getElementById('cardinal').value;
        const weekNumber = document.getElementById('weekNumber').value;
        const date = document.getElementById('date').value;

        const data = {
            cardinal: parseInt(cardinal),
            weekNumber: parseInt(weekNumber),
            date: date
        };

        apiRequest('/admin/attendances', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.text())
            .then(message => {
                showApiMessage(message, 'success');
            })
            .catch(error => {
                showApiMessage(error.message, 'danger');
            });
    });

    document.getElementById('submitEventButton').addEventListener('click', function() {
        if (!confirm('이벤트 정보를 제출하시겠습니까?')) {
            return;
        }
        const title = document.getElementById('title').value;
        const content = document.getElementById('content').value;
        const location = document.getElementById('location').value;
        const requiredItems = document.getElementById('requiredItems').value;
        const memberNumber = document.getElementById('memberNumber').value;
        const startDateTime = document.getElementById('startDateTime').value;
        const endDateTime = document.getElementById('endDateTime').value;
        const cardinal = document.getElementById('cardinal').value; // 동일한 cardinal 사용

        const eventData = {
            title: title,
            content: content,
            location: location,
            requiredItems: requiredItems,
            memberNumber: memberNumber,
            startDateTime: startDateTime,
            endDateTime: endDateTime,
            cardinal: parseInt(cardinal)
        };

        apiRequest('/admin/attendanceEvent/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(eventData)
        })
            .then(response => response.text())
            .then(message => {
                showApiMessage(message, 'success');
                document.getElementById('createWeekForm').style.display = 'none';
            })
            .catch(error => {
                showApiMessage(error.message, 'danger');
            });
    });

    document.getElementById('checkAttendanceCodeButton').addEventListener('click', function() {
        const form = document.getElementById('checkAttendanceCodeForm');
        form.style.display = (form.style.display === 'block') ? 'none' : 'block';
    });

    document.getElementById('closeCheckFormButton').addEventListener('click', function() {
        document.getElementById('checkAttendanceCodeForm').style.display = 'none';
    });

    document.getElementById('submitCheckButton').addEventListener('click', function() {
        const cardinal = document.getElementById('checkCardinal').value;

        apiRequest(`/admin/attendances/${cardinal}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                showAttendanceCodes(data.data);
                document.getElementById('checkAttendanceCodeForm').style.display = 'none';
            })
            .catch(error => {
                showApiMessage(error.message, 'danger');
            });
    });

    function showAttendanceCodes(attendanceCodes) {
        const tableBody = document.getElementById('attendanceCodeTableBody');
        tableBody.innerHTML = '';
        attendanceCodes.forEach(code => {
            const row = document.createElement('tr');
            row.innerHTML = `<td>${code.weekNumber}</td><td>${code.attendanceCode}</td>`;
            tableBody.appendChild(row);
        });
        document.getElementById('attendanceCodeResult').style.display = 'block';
    }

    function showApiMessage(message, type) {
        const apiMessageDiv = document.getElementById('apiMessage');
        apiMessageDiv.className = `alert alert-${type}`;
        apiMessageDiv.style.display = 'block';
        apiMessageDiv.innerText = message;
        setTimeout(() => {
            apiMessageDiv.style.display = 'none';
        }, 5000);
    }
</script>
</body>
</html>